{% load static %}

<html>
    <head>
        <title>Merchex {% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
        
        <style>
            form{
                width: 700px;
                max-width: 100%;
            }
            form p{
                display: flex;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul style="list-style: none; display: flex; padding-left: 0; gap: 15px;">
                <li><a href="{% url 'band-list' %}">Groupes</a></li>
                <li><a href="{% url 'annonces-list' %}">Annonces</a></li>
                <li><a href="{% url 'about' %}">A propos</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>

        {% block content %} {% endblock %}
    </body>
</html>